<strong>Olá, {{ student }}</strong>
<p>Sua pergunta foi respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Data da resposta: </strong> {{ date }} <br>
  <strong>Sua Pergunta: </strong> {{ question }} <br>
  <strong>Resposta da equipe: </strong> {{ answer }} <br>
  <br>
  <small>
    Fique a vontade para realizar mais perguntas.
  </small>
</p>