<strong>Olá, {{ student }}</strong>
<p>Sua matricula foi concluida com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Data de inicio: </strong> {{ start }} <br>
  <strong>Plano: </strong> {{ plan }} <br>
  <strong>Preço calculado: </strong> R$ {{ price }} <br>
  <strong>Data de termino: </strong> {{ end }} <br>
  <br>
  <small>
    Obrigado pela sua preferencia.
  </small>
</p>
